.article {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 150px;
  .container {
    @include container();
    .article-title {
      text-align: center;
      h2 {
        @include h2();
      }
    }
    .article-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      li {
        width: 400px;
        height: 500px;
        background: #f5f8fc;
        border: 2px solid #ffffff;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        img {
          width: 100%;
        }
        h3 {
          @include h3();
          width: 78%;
        }
        p {
          @include p();
          width: 78%;
          font-size: 14px;
          line-height: 160%;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .article {
    width: 100%;
    .container {
      width: 100%;
      .article-title {
        text-align: center;
        h2 {
          font-size: 26px;
          line-height: 31px;
        }
      }
      .article-list {
        li {
          width: 216px;
          height: 366px;

          img {
            width: 100%;
          }
          h3 {
            font-size: 14px;
            line-height: 150%;
          }
          p {
            font-size: 11px;
            line-height: 130%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .article {
    width: 100%;
    .container {
      width: 100%;
      .article-title {
        text-align: center;
        h2 {
            font-size: 26px;
            line-height: 31px;
        }
      }
      .article-list {
        flex-direction: column;
        align-items:center;
        gap: 20px;
        li {
            width: 237px;
            height: 348px;

          img {
            width: 100%;
          }
          h3 {
            font-size: 14px;
            line-height: 150%;
          }
          p {
            font-size: 11px;
            line-height: 130%;
          }
        }
      }
    }
  }
}
